.navigationBar {
    left: 0;
    right: 0;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

.hamburger div {
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 2px;
}

.sidebar {
    /* margin-top: 60px; */
    position: fixed;
    left: -250px;
    transition: left 0.3s ease;
    background-color: antiquewhite;
    height:100%;
    width: 250px;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;

}

.sidebar a:hover {
    background: grey;
}
.category-filter{
    padding: 10px;
}
.price-range-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#priceRange {
  width: 200px;
}

.priceValue {
    margin-right: auto;
    font-weight: bold;
    font-size: large;
}

.price-min-max {
    display: flex;
    flex-direction: row;
}
.priceValuemin{
    margin-right: 0;
    font-weight: bold;
    font-size: large;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}