.navigationBar {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

.hamburger div {
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 2px;
}

.sidebar {
    margin-top: 60px;
    position: fixed;
    left: -220px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.sidebar a:hover {
    background: grey;
}