body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("../assets/backgroundImage.jpg");
    background-size: cover;
}

.head {
    height: 80px;
    background: linear-gradient(60deg, black, rgb(231, 190, 149),
            grey, rgb(200, 125, 39));
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    gap: 5px;

}

.logo_container {
    display: flex;
}

.img-container {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wave-img {
    height: 28px;
    animation: waveMove 5s ease-in-out infinite;
}

@keyframes waveMove {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(-30px) translateY(-20px);
    }

    50% {
        transform: translateX(0) translateY(-30px);
    }

    75% {
        transform: translateX(30px) translateY(-20px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.name {
    font-size: 40px;
    font-family: cursive;
    margin-left: 10px;
}

.items {
    height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    height: 100%;
    align-items: center;

}

.search-bar input {
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 8px;
    width: 400px;
    height: 45%;
}

.search-bar input:hover {
    border-style: ridge;
    border: none;
}

.search-bar button {
    margin-left: 20px;
    height: 35px;
    padding: 8px 16px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.search-bar button:hover {
    background: grey;
}

.cart {
    cursor: pointer;
    font-size: 25px;
    margin-right: 25px;
    color: black;
}