.navigationBar {
  left: 0;
  right: 0;
  height: 60px;
  color: rgb(60, 59, 59);
  display: flex;
  align-items: center;
  padding: 0 5px;
  background: linear-gradient(60deg, rgb(231, 190, 149),
            grey, rgb(200, 125, 39));
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background: rgb(60, 59, 59);
  border-radius: 2px;
}

.sidebar {
  /* margin-top: 60px; */
  position: fixed;
  left: -250px;
  transition: left 0.3s ease;
  /* background-color: whitesmoke; */
   background: linear-gradient(60deg, black, rgb(231, 190, 149),
            grey, rgb(200, 125, 39));
  height: 100%;
  width: 250px;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
}

.sidebar a:hover {
  background: grey;
}
.category-filter {
  padding: 10px;
}
.price-range-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#priceRange {
  width: 200px;
}

.priceValue {
  margin-right: auto;
  font-weight: bold;
  font-size: large;
}

.price-min-max {
  display: flex;
  flex-direction: row;
}
.priceValuemin {
  margin-right: 0;
  font-weight: bold;
  font-size: large;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.category-filter {
  position: relative;
  margin-left: 10px;
}

.category-filter select {
  margin-left: 10px;
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff
    url("data:image/svg+xml,%3Csvg width='16' height='16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6l4 4 4-4' stroke='gray' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E")
    no-repeat right 12px center/18px 18px;
  font-size: 1rem;
  appearance: none;
  outline: none;
  transition: border 0.2s;
}

.category-filter select:focus {
  border-color: #888;
  box-shadow: 0 0 0 2px #e0e0e0;
}
