body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgb(132, 224, 231);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 16px;
  color: black;
}

input[type="number"],
input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background: #3a7bd5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background: #2a5cab;
}

.result {
  margin-top: 16px;
  font-weight: bold;
}

.medical-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  justify-content: start;
}

.sportsPlayer-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  justify-content: start;
}