body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(123, 217, 213);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(219, 115, 115, 0.2);
    width: 300px;
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    text-align: left;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}