body{
font-family: Poppins, sans-serif;
}
 /* Header css starts */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    margin-right: 20px;
}
.icon-list{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
}
.menu-icon{
    color: #08915e;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    line-height: 1;
    margin-left: auto;
}
.nav-brand h1 {
    color: white;
    margin: 0;
    margin-right: 50px;
}

.nav-menu {
    display: flex;
    /* justify-content: center; */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 20px;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #08915e;
}
/* .nav-item.dropdown.list {
    display: flex;
    flex-direction: row;
} */
/* Header css ends */