body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(225, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: green;
}